[submodule "core"]
	path = core
	url = https://github.com/go-gost/core.git
[submodule "docs"]
	path = docs
	url = https://github.com/go-gost/docs.git
[submodule "gost"]
	path = gost
	url = https://github.com/go-gost/gost.git
